@charset "utf-8";

body{
	color:#000;
}
.n-fixed{
	position:fixed; /*무조건 body가 부모*/
	left:0;
	top:0;
}

.up{
	position:fixed;
	top:700px;
	right:20px;
	width:100px;
	height:100px;
	opacity:0;
}
.up>i{
	width:100%;
	height:100px;
	font-size:5em;
	line-height:100px;
	text-align:center;
	color:red;
	cursor:pointer;
}


header>nav{
	width:100%;
	padding:25px 0 25px 60px;
	background-color:#ddd;
	z-index:100;
}
header>nav>.gnb{
	width:800px;
	margin:0 auto;
	*zoom:1;
}
header>nav>.gnb:after{
	display:block; clear:both; content:'';
}
header>nav>.gnb>li{
	float:left;
	width:100px;
	margin-right:60px;
}
header>nav>.gnb>li:last-child{
	margin-right:0;
}
header>nav>.gnb>li>a{
	display:block;
	height:50px;
	color:#000;
	font-size:18px;
	line-height:50px;
	text-align:center;
}

header>nav>.gnb>li.on{
	background-color:#ffb611;
	background-size: 150px 10px;
}
header>nav>.gnb>.home{
	width:50px;
	height:50px;
	line-height:50px;
	background-image:url(../images/home.png);
	background-size: 50px 50px;
	background-repeat:no-repeat;
}
header>nav>.gnb>.home>a{
	text-indent:-9999px;
}

section{
	height:800px;
}


section:nth-child(even){
	background-color:pink;
}


.container_0{
	position:relative;
	margin-top:100px;
	color:#000;
}

.container_0>.aboutme{
	position:absolute;
	top:150px;
	left:550px;
	width:800px;
	height:500px;
	margin:0 auto;
	text-align:center;
}
.container_0>.aboutme>ul>li:nth-child(2){
	margin-top:20px;
}
.container_0>.aboutme>ul>li:nth-child(3){
	margin-top:30px;
	font-weight:800;
}
.container_0>.aboutme>ul>li>span{
	font-size:30px;
}
.container_0>.aboutme>ul>li:nth-child(3){
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color:#ffb611;
	text-decoration-size:10px;
}
.container_0>.aboutme_sec1{
	position:absolute;
	top:650px;
	left:250px;
}
.container_0>.aboutme_sec1>ul>li{
	font-size:15px;
}

.container_0>.aboutme_sec2{
	position:absolute;
	top:650px;
	right:300px;
}
.container_0>.aboutme_sec2>ul>li{
	font-size:15px;
}
.container_0 ul>li:nth-child(1){
	border-bottom:1px solid #000;
	padding-bottom: 5px;
}
.container_0 ul>li:nth-child(2){
	padding-top: 5px;
}
.container_0>.aboutme>ul>li:nth-child(1){
	border-bottom:none;
	padding-bottom: 5px;
}

.container_2>.team{
	width:80%;
	height:300px;
	margin:30px auto 0;
}
.container_2>.team>h1{
	display:block;
	width:350px;
	height:50px;
	line-height:50px;
	font-size:40px;
	border-bottom:5px solid #ffb611;
}
.container_2>.team>p{
	height:50px;
	line-height:50px;
	font-size:20px;
}
.container_2>.team>p>span{
	font-weight:500;
	font-size:25px;
	border-bottom:1px solid #000;
}



























/* / */