@charset "utf-8";

#wrap{
	width:600px;
	margin:0 auto;
	color:#000;
	background-color:#333;
}

header{
	width:600px;
	height:100px;
	margin-top:20px;
	background-color:#006699;
	*zoom:1;
}
header:after{
	display:block; clear:both; content:'';
}


header>h1{
	float:left;
	width:140px;
	height:100px;
	padding-left:10px;
	color:#fff;
	line-height:100px;
}

header>nav{
	float:left;
	width:450px;
	height:100px;
}

header>nav>ul{
	width:450px;
	height:100px;
	*zoom:1;
}
header>nav>ul{
	display:block; clear:both; content:'';
}

header>nav>ul>li{
	float:left;
	height:100px;
	padding:8px 10px 0;
	color:#fff;
	font-size:16px;
	line-height:100px;
}
header>nav>ul>li:nth-child(3){
	color:#ff0;
}


section{
	width:590px;
	margin:5px auto 0;
	background-color:#fff;
}
section>h2{
	font-size:25px;
	padding:30px 0 30px 20px;
}
article{
	padding:0 10px 30px;	
	
}
article>p{
	font-size:14px;
	line-height:1.5;
}
article>p>img{
	float:right;
	width:300px;
}

footer{
	width:600px;
	height:80px;
	background-color:#333;
}
footer>p{
	color:#fff;
	height:80px;
	font-size:16px;
	line-height:80px;
	text-align:center;
}















/* / */