@charset "utf-8";

#contact{
	position:relative;
}

/*subject*/
#contact>.subject{
	margin-top:-80px;
	z-index:3000;
}


#contact>.css-vertical-text2{
	position:absolute;
	top:270px;
	right:40px;
	color:#a1accc;
	writing-mode: vertical-rl;
	display:block;
	
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

#contact>article{
	
	width:100%;
	height:63%;
	background-color:#efc5ba;
	*zoom:1;
	
}
#contact>article:after{
	display:block;
	clear:both;
	content:'';
}

#contact>article>div{
	position:relative;
	left:20%;
	float:left;
	width:270px;
	height:450px;
	margin:9px 40px 0;
	margin-bottom:0;
}
#contact>article>div>.ctpic{
	text-indent:-9999px;
	width:235px;
	height:286px;	
	background-repeat:no-repeat;
}

#contact>article>div:nth-child(1)>.ctpic{background-image:url(../images/EH.jpg);}
#contact>article>div:nth-child(2)>.ctpic{background-image:url(../images/HJ.jpg);}
#contact>article>div:nth-child(3)>.ctpic{background-image:url(../images/NY.jpg);}


#contact>article>div>.name{
	font-size:22px;
	font-weight:800;
	color:#000;
	margin-left:5px;
}

#contact>article>div>.name>span{
	position:absolute;
	left:5px;
	top:260px;
	color:#efc5ba;
}
#contact>article>div>.addressemail{
	margin:15px 0;
	font-size:11px;
	font-weight:700;
	color:#000;
	line-height:18px;
}
#contact>article>div>.addressemail>a{
	color:#000;
	text-decoration:none;
}
#contact>article>div>.button{
	width:90px;
	height:30px;
	border:2px solid #3d3e1f;
	border-radius:40px;
	background-color:#cccfd8;
	text-align:center;
	line-height:30px;
	margin-top:30px;
}
#contact>article>div>.button>a{
	color:#3d3e1f;
	font-weight:800;

}

/*미디어 쿼리*/
@media screen and (max-width:768px){
	#contact>article{
		height:100%;
	}
}














