@charset "utf-8";

a:link,a:visited,a:hover,a:active{
	color:#000;
	text-decoration: none;
}

header,section,footer,.box{
	outline:1px solid red;
}

/*header*/

header{
	position:relative;
	height:50px;
	background-color:#aaa;
}

header>h1{
	position:absolute;
	top:0;
	text-indent:-9999px;
}

header>nav{
	position:absolute;
	top:0;
	left:50%;
	width:800px;
	height:50px;
	margin-left:-400px;
}
header>nav>.gnb{
	width:100%;
	height:100%;
	*zoom:1;
}
header>nav>.gnb:after{
	display:block; clear:both; content:"";
}
header>nav>.gnb>li{
	float:left;
	width:185px;
	height:50px;
	
}
header>nav>.gnb>li>a{
	display:block;
	width:185px;
	height:50px;
	line-height:50px;
	text-align:center;
}


/*section*/
section>.boxs{
	*zoom:1;
}
section>.boxs:after{
	display:block; clear:both; content:"";
}
section>.boxs>.box{
	float:left;
	width:33.3%;
	height:500px;
}


/*footer*/
footer{
	height:50px;
}
footer>address{
	height:50px;
	line-height:50px;
	text-align:center;
}



/*미디어 쿼리*/
@media screen and (min-width:769px) and (max-width:1600px){

	header>nav{
		
	}
	header>nav>.gnb{
		
	}
	header>nav>.gnb:after{
		
	}
	header>nav>.gnb>li{
		
		
	}
	header>nav>.gnb>li>a{
		
	}


	/*section*/
	section>.boxs{
		
	}
	
	section>.boxs>.box{
		width:50%;
		height:500px;
	}

}


@media screen and (max-width:780px){

	/*pc 네비게이션*/
	header{
		background-color:#FFF;
	}
		
	header>nav>.gnb{
		display:none;
	}
	
	/*모바일 네비게이션*/
	header>.mobile{}
	
	header>.mobile>.btn{
		width:50px;
		height:50px;
	}
	header>.mobile>.btn>i{
		font-size:50px;
	}
		
	header>.mobile>nav{}
	
	header>.mobile>nav>.m_gnb{}
	
	header>.mobile>nav>.m_gnb>li{
		
		
	}


	/*section*/
	section>.boxs{
		
	}
	
	section>.boxs>.box{
		width:100%;
		height:500px;
	}

}













/* / */
